
/*--------------------------------------------------------------
12.1 Portfolio layout - Slide In Grid
--------------------------------------------------------------*/

/*-------------grid-------------*/
#wskpf-grid.slide-in-grid {
	position:relative;
}

/*-------------post-------------*/
.slide-in-grid .wskpf-post {
	display: block;
	position: absolute;
	background-color: gray;
	border: 1px solid white;
}
.wskpf-post {
	overflow:hidden;
}
/*-------------post hover-------------*/

.wskpf-post:hover .wskpf-post-overlay {
	transition-delay: 0s;
	top: 0;
	opacity: 0.8;
}
.wskpf-post:hover .wskpf-post-icons {
	opacity: 0.8;
}

/*-------------post thumb-------------*/

.wskpf-post-thumb > .wskpf-img-container > img {
	height: 100%;
	width: 100%;
}
.wskpf-post-thumb .wskpf-post-overlay {
	position: absolute;
	top: -100%;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	background-color: white;
	-webkit-transition: top 0.2s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transition: top 0.2s ease-in-out, opacity 0.5s ease-in-out;
	-o-transition: top 0.2s ease-in-out, opacity 0.5s ease-in-out;
	transition: top 0.2s ease-in-out, opacity 0.5s ease-in-out;
}
/*-------------post overlay content-------------*/

.wskpf-post-icons {
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.wskpf-post-icons .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	margin:auto;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
.wskpf-post-icons a > img {
	width: 22px;
	height: 22px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.wskpf-post-icons .wskpf-type-soundcloud-audio {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-color: black;
}
.wskpf-post-icons .wskpf-type-youtube-video {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-color: black;
}
.wskpf-post-icons .wskpf-type-external-link {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-color: black;
}
.wskpf-post-icons .wskpf-type-image-slider {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-color: black;
}
.wskpf-post-icons .wskpf-type-soundcloud-audio:hover,
.wskpf-post-icons .wskpf-type-youtube-video:hover,
.wskpf-post-icons .wskpf-type-external-link:hover,
.wskpf-post-icons .wskpf-type-image-slider:hover {
	background-color: #a8023c;
}
/*-------------ajax container-------------*/

.wskpf-post-ajax {
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.85);
	position: fixed;
	top:0;
	z-index: 1;
	padding: 0;
	width:100%;
	height: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.8s 0.7s ease-in-out, border 0.5s 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.8s 0.7s  ease-in-out, border 0.5s 0.5s ease-in-out;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.8s 0.7s  ease-in-out, border 0.5s 0.5s ease-in-out;
	transition: height 0.5s ease-in-out, box-shadow 0.8s 0.7s ease-in-out, border 0.5s 0.5s ease-in-out;
}
.wskpf-post-ajax .ajax-content-wrap{
	display:none;
	width:100%;
	height:100%
}


/*-------------ajax loaders-------------*/

.project-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}
.loading-cylon-red {
	background: url('../../../img/loading/loading-cylon-red.svg') center no-repeat;
}
.loading-balls-black {
	background: url('../../../img/loading/loading-balls-black.svg') center no-repeat;
}
.loading-bubbles-black {
	background: url('../../../img/loading/loading-bubbles-black.svg') center no-repeat;
}
.loading-bubbles {
	background: url('../../../img/loading/loading-bubbles.svg') center no-repeat;
}
/*--------------------------------------------------------------
11.3 Project pages
--------------------------------------------------------------*/

/*Project container*/
#wskpf-project-page {
	width: 80%;
	height: 100%;
	margin: auto;
	overflow: hidden;
}
#wskpf-project-page .project-media {
	display:inline-block;
	vertical-align: top;
	width: 47%;
	margin: auto;
	margin-right: 5%;
	overflow: hidden;
	float:left;
}
#wskpf-project-page .project-info {
	position: relative;
	display:inline-block;
	vertical-align: top;
	width: 47%;
	height:95%;
	margin: auto;
	text-align: left;
	padding-right: 10px;
	float:left;
}

#wskpf-project-page .project-info .project-description-wrapper{
	top:0;
}

#wskpf-project-page .project-info .project-details-wrapper{
	position:absolute;
	bottom:0;
}

#wskpf-project-page .project-info h3{
	font-size: 24px;
}

#wskpf-project-page .project-info .project-description{
	overflow: auto;
	height:228px;
}

#wskpf-project-page .project-info p{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 7px;
	padding-right: 15px;
}

/*Ajax navigation*/
.project-navigation {
	margin-top: 30px;
	width: 100%;
	height:40px;
	margin: 20 auto;
	text-align: left;
	float:left;
	clear:both;
}
.project-navigation h1{
	float: left;
	font-size: 30px;
	font-family:'bebas_neuebold';
	line-height: 40px;
	border-bottom: 1px solid #e8e8e8;
}
.project-navigation .nav-links{
	float: right;
	margin-right: 20px;
	font-size: 30px;
	line-height: 40px;
}

.project-navigation .nav-links > i{
	cursor: pointer;
}
.project-navigation .nav-links > i:hover{
	color: #666;
}

.project-close{
	width:30px;
	height:30px;
	position: absolute;
	right:20px;
	bottom:0;
	color:rgb(128, 128, 128);
	cursor: pointer;
	-webkit-transition: bottom 0.5s 0.5s ease-in-out;
	-moz-transition: bottom 0.5s 0.5s ease-in-out;
	-o-transition: bottom 0.5s 0.5s ease-in-out;
	transition: bottom 0.5s 0.5s ease-in-out;
}

.project-close:hover{
	color: #b4001a;
}

.inflate{
	height: 500px;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.slide-in-bottom{
	bottom:0;
}